.home-container {
  background-image: url("/images/background_home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-header {
  background-color: rgba(40, 44, 52, 0.8);
  padding: 20px;
  color: white;
  text-align: center;
}

.home-main {
  margin-top: 20px;
  color: white;
}

.login-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: white;
}

.login-button:hover {
  background-color: #21a1f1;
}

.home-paragraph {
  width: 100%;

  margin-top: 20px;
  font-size: 20px;
}
