.management-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:16px;
    align-items: start;
    padding:100px 59px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.top-action{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.top-action .title {
    font-size: 16px;
    margin-bottom: unset;
    display:unset;
    text-align: left;
    
  }
.top-action .add-btn {
    background: linear-gradient(45deg, #4facfe 0%, #00f2fe 100%);
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
.add-btn:hover {
    background: black;
}
  
.search-filter {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}
  
.search-filter .filter-dropdown,.search-input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: lightgray;
    font-size: 12px;
    height: 100%;
}
.search-filter .filter-dropdown,.search-input {
    flex:1;
}
.search-filter .search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex:4;
}
  
.student-list {

    width: 100%;
    height: 100%;
}
.student-list .empty-list{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    background-color: #FCFAFA;
}
.student-list .empty-list .empty-list__img{
    width: 250px;
    align-self: center;
}
.student-list .empty-list .empty-list__title{
    font-weight: bold;
}

.student-table {
    width: 100%;
    font-size: 14px;
    table-layout: fixed; 
}

.student-table thead th {
    padding: 12px;
    text-align: left;
    font-weight: bold;
}
  
.student-table tbody {
    background-color: white;
}
  
.student-table tbody tr {
    transition: background-color 0.3s;
}
.student-table tbody tr:hover {
    background-color: #eef2ff;
}
.student-table th, .student-table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  text-wrap: nowrap;
  cursor: pointer;
}

.student-table th:nth-child(1),.student-table td:nth-child(1) {
  width:30%; 
}
.student-table th:nth-child(2),.student-table td:nth-child(2) {
  width: 20%; 
}

.student-table th:nth-child(3),.student-table td:nth-child(3) {
  width: 30%; 
}

.student-table th:nth-child(4),.student-table td:nth-child(4) {
  width: 10%;
}

.student-table th:nth-child(5),.student-table td:nth-child(5) {
  width: 10%;
}

.student-table th:nth-child(6),.student-table td:nth-child(6) {
  width: 10%;
}
.student-avatar{
    width: 30px;
    margin:5px;
    height: 30px;
}
.student-name{
    display: flex;
    align-items: center;
}
