.managementContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  align-items: start;
  padding: 100px 59px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.blurBackground {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  align-items: start;
  padding: 100px 59px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  filter: blur(5px);
  pointer-events: none;
}

.topAction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.topAction .title {
  font-size: 20px;
  margin-bottom: unset;
  display: unset;
  text-align: left;
  font-weight: bold;
}

.topAction .addBtn {
  background: linear-gradient(45deg, #4facfe 0%, #00f2fe 100%);
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.addBtn:hover {
  background: black;
}

.searchFilter {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.searchFilter .filterDropdown,
.searchInput {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: lightgray;
  font-size: 12px;
  height: 100%;
}

.searchFilter .filterDropdown,
.searchInput {
  flex: 1;
  color: black;
}

.searchFilter .searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 4;
}

.studentList {
  width: 100%;
  height: 100%;
}

.studentList .emptyList {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  background-color: #fcfafa;
}

.studentList .emptyList .emptyListImg {
  width: 250px;
  align-self: center;
}

.studentList .emptyList .emptyListTitle {
  font-weight: bold;
  align-self: center;
  width: auto;
}

.studentTable {
  width: 100%;
  font-size: 14px;
  table-layout: fixed;
}

.studentTable thead th {
  padding: 12px;
  text-align: left;
  font-weight: bold;
}

.studentTable tbody {
  background-color: white;
}

.studentTable tbody tr {
  transition: background-color 0.3s;
}

.studentTable tbody tr:hover {
  background-color: #eef2ff;
}

.studentTable th,
.studentTable td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  text-wrap: nowrap;
  cursor: pointer;
}

.studentTable th:nth-child(1),
.studentTable td:nth-child(1) {
  width: 30%;
}

.studentTable th:nth-child(2),
.studentTable td:nth-child(2) {
  width: 20%;
}

.studentTable th:nth-child(3),
.studentTable td:nth-child(3) {
  width: 30%;
}

.studentTable th:nth-child(4),
.studentTable td:nth-child(4) {
  width: 10%;
}

.studentTable th:nth-child(5),
.studentTable td:nth-child(5) {
  width: 10%;
}

.studentTable th:nth-child(6),
.studentTable td:nth-child(6) {
  width: 10%;
}

.studentAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  background-color: #8ea5be;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.studentName {
  display: flex;
  align-items: center;
}

.studentShow,
.popupCloseBtn {
  padding: 5px;
  background-color: unset;
  font-size: 16px;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(155, 153, 153, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popupContent {
  background-color: white;
  width: 750px;
  height: 500px;
  border-radius: 10px;
  padding: 20px 30px;
}

.popupContentTopAction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.popupContent .formGroup {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.formGroup input,
.formGroup p,
.formGroup select {
  font-size: 14px;
  border-radius: 3px;
  width: 190px;
}

.formGroup p {
  text-align: left;
  margin-bottom: 5px;
}

.formGroup input {
  padding: 7px 15px;
}

.formGroup select {
  border: 1px solid rgba(22, 20, 20, 0.2);
  padding: 7px 30px 7px 7px;
}

.formGroup .studentGt {
  padding: 7px 15px;
  border: 1px solid rgba(22, 20, 20, 0.2);
  margin-right: 80px;
  width: unset;
}

.formGroup .studentStatus {
  margin-right: 210px;
}

.popUpAddStudent {
  margin-top: 30px;
  padding: 7px 30px;
}

.pagination {
  margin: 10px;
  padding-bottom: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
  justify-self: center;
  gap: 20px;
}

.pagination button {
  background-color: unset;
  padding: 0px;
  font-weight: 100;
}

.pagination span {
  font-weight: bold;
}
